.signup-step2 {
  display: flex;
  justify-content: center;

  .signup-step2-input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .signup-step2-phone-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-end;
    gap: 20px;
  }

  .AuthenticationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;

    border-radius: 12px;
    border: 0;
    background-color: var(--Primary-Normal);

    color: #fff;

    &:hover {
      background-color: var(--Blue-10);

      cursor: pointer;
    }
  }
}
