.oauth-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}

.oauth-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 6px;
    width: 145px;
    height: 50px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background: var(--Fill-Assistive);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        opacity: 0.9;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
}