.display1-bold {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 46.8px;
    letter-spacing: 0;
  };
  
  .display1-medium {
    font-size: 36px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 46.8px;
    letter-spacing: 0;
  };
  
  .display1-regular {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 46.8px;
    letter-spacing: 0;
  };
  
  .display2-bold {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 46.8px;
    letter-spacing: 0;
  };
  
  .display2-medium {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 46.8px;
    letter-spacing: 0;
  };
  
  .display2-regular {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 46.8px;
    letter-spacing: 0;
  };
  
  .title1-bold {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 36.4px;
    letter-spacing: 0;
  };
  
  .title1-medium {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 36.4px;
    letter-spacing: 0;
  };
  
  .title1-regular {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 36.4px;
    letter-spacing: 0;
  };
  
  .title2-bold {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 36.4px;
    letter-spacing: 0;
  };
  
  .title2-medium {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 36.4px;
    letter-spacing: 0;
  };
  
  .title2-regular {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 36.4px;
    letter-spacing: 0;
  };
  
  .headline1-bold {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 26px;
    letter-spacing: 0;
  };
  
  .headline1-medium {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 26px;
    letter-spacing: 0;
  };
  
  .headline1-regular {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 26px;
    letter-spacing: 0;
  };
  
  .headline2-bold {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 26px;
    letter-spacing: 0;
  };
  
  .headline2-medium {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 26px;
    letter-spacing: 0;
  };
  
  .headline2-regular {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 26px;
    letter-spacing: 0;
  };
  
  .body-bold {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 20.8px;
    letter-spacing: 0;
  };
  
  .body-medium {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 20.8px;
    letter-spacing: 0;
  };
  
  .body-regular {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 20.8px;
    letter-spacing: 0;
  };
  
  .label-bold {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 18.2px;
    letter-spacing: 0;
  };
  
  .label-medium {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 18.2px;
    letter-spacing: 0;
  };
  
  .label-regular {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 18.2px;
    letter-spacing: 0;
  };
  
  .caption-bold {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    line-height: 15.6px;
    letter-spacing: 0;
  };
  
  .caption-medium {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    line-height: 15.6px;
    letter-spacing: 0;
  };
  
  .caption-regular {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    line-height: 15.6px;
    letter-spacing: 0;
  };