$Pallete: (
    Common: (
        "00": #FFF,
        "100": #000,
    ),
    Neutral: (
        '99': #FCFCFD,
        '97': #F6F6F7,
        '95': #F2F2F3,
        '90': #E4E4E5,
        '80': #C8C8CC,
        '70': #ACACB2,
        '60': #919199,
        '50': #767680,
        '40': #5E5E66,
        '30': #47474D,
        '25': #3B3B40,
        '20': #313135,
        '15': #252528,
        '10': #19191B,
        '7': #111113,
        '5': #0C0C0D,
    ),
    Red: (
        '99': #FEFBFB,
        '95': #FCE9E9,
        '90': #F9D2D2,
        '80': #F2A6A6,
        '70': #FF6666,
        '60': #EB4747,
        '50': #EE2B2B,
        '40': #BD0F0F,
        '30': #8E0B0B,
        '20': #5E0808,
        '10': #2F0404,
    ),
    Orange: (
        '99': #FFFDFA,
        '95': #FEF5E6,
        '90': #FEEACD,
        '80': #FCD69C,
        '70': #FBC16A,
        '60': #FAAC38,
        '50': #F99806,
        '40': #C77905,
        '30': #955B04,
        '20': #633D03,
        '10': #321E01,
    ),
    Green: (
        '99': #FBFEFB,
        '95': #E8FCEA,
        '90': #D2F9D6,
        '80': #A6F2AD,
        '70': #79EC85,
        '60': #4DE55C,
        '50': #20DF33,
        '40': #0FBD21,
        '30': #0B8E18,
        '20': #085E10,
        '10': #042F08,
    ),
    Blue: (
        '99': #FAFDFF,
        '95': #E5F3FF,
        '90': #CCE8FF,
        '80': #99D1FF,
        '70': #66B9FF,
        '60': #33A2FF,
        '50': #008BFF,
        '40': #006FCC,
        '30': #005399,
        '20': #003866,
        '10': #001C33,
    ),
    Yellow: (
        '99': #FFFEFA,
        '95': #FFFAE5,
        '90': #FFF5CC,
        '80': #FFEB99,
        '70': #FFE066,
        '60': #FFD633,
        '50': #FFCC00,
        '40': #CCA300,
        '30': #997A00,
        '20': #665200,
        '10': #332900,
    ),
    Purple: (
        '99': #FCFAFF,
        '95': #F1E6FE,
        '90': #E3CDFE,
        '80': #C79CFC,
        '70': #AB6AFB,
        '60': #8F38FA,
        '50': #7306F9,
        '40': #5C05C7,
        '30': #450495,
        '20': #2E0363,
        '10': #170132,
    ),
);
