$Sementic: (
    Primary: (
        Normal: map-get($Pallete, Blue)['20'],
        AlterNative: #385C7A,
        Assistive: #61778A,
    ),
    Secondary: (
        Normal: #BFC1C1,
        AlterNative: #D1D4D5,
        Assistive: #ECF0F1,
    ),
    Label: (
        Normal: map-get($Pallete, Netural)['5'],
        Strong: map-get($Pallete, Common)['100'],
        Netural: map-get($Pallete, Netural)['25'],
        AlterNative: map-get($Pallete, Netural)['40'],
        Assistive: map-get($Pallete, Netural)['50'],
        Disabled: map-get($Pallete, Netural)['97'],
    ),
    Line: (
        Normal: map-get($Pallete, Netural)['90'],
        Netural: map-get($Pallete, Netural)['95'],
        AlterNative: map-get($Pallete, Netural)['97'],
    ),
    Fill: (
        Assistive: map-get($Pallete, Common)['00'],
        Support: map-get($Pallete, Common)['00'],
        Normal: map-get($Pallete, Netural)['97'],
        Netural: map-get($Pallete, Netural)['95'],
        AlterNative: map-get($Pallete, Netural)['90'],
    ),
    Normal: (
        Normal: map-get($Pallete, Common)['00'],
        AlterNative: map-get($Pallete, Netural)['99'],
        Netural: map-get($Pallete, Netural)['95'],
    ),
    Static: (
        Black: map-get($Pallete, Common)['100'],
        White: map-get($Pallete, Common)['00'],
    ),
);