// Primary Color Palette
$Primary-Normal: $Blue-20;
$Primary-Alternate: #385C7A;
$Primary-Assistive: #61778A;

// Secondary Color Palette
$Secondary-Normal: #BFC1C1;
$Secondary-Alternate: #D1D4D5;
$Secondary-Assistive: #ECF0F1;

// Label Color Palette
$Label-Normal: $Neutral-5;
$Label-Strong: $Common-100;
$Label-Neutral: $Neutral-25;
$Label-Alternate: $Neutral-40;
$Label-Assistive: $Neutral-50;
$Label-Disabled: $Neutral-97;

// Line Color Palette
$Line-Normal: $Neutral-90;
$Line-Neutral: $Neutral-95;
$Line-Alternate: $Neutral-97;

// Fill Color Palette
$Fill-Assistive: $Common-00;
$Fill-Support: $Common-00;
$Fill-Normal: $Neutral-97;
$Fill-Neutral: $Neutral-95;
$Fill-Alternate: $Neutral-90;

// Normal Color Palette
$Normal-Normal: $Common-00;
$Normal-Alternate: $Neutral-99;
$Normal-Neutral: $Neutral-95;

// Static Colors
$Static-Black: $Common-100;
$Static-White: $Common-00;